/* Navigation Bar */
*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body 
{
    font-family: sans-serif;
    background: #f1d3b0;
}

p 
{
    color: #643719;
    font-size: 16px;
    padding-top: 25px;
}

nav 
{
    background: #a37f52;
    height: 80px;
    width: 100%;
}

#home-hoot-owl
{
    width: 37px;
    height: 37px;
    max-width: 100%;
    margin-top: 19px;
    margin-left: 18px;
}

#icons
{
    display: inline-flex;
}

#add-icon
{
    width: 30px;
    height: 30px;
    max-width: 100%;
    margin-top: 25px;
    margin-left: 15px;
}

#logout-icon
{
    width: 30px;
    height: 30px;
    max-width: 100%;
    margin-top: 0px;
}

#logout-btn
{
    color: white;
    font-family: sans-serif;
    width: max-content;
    height: 32px;
    max-width: 100%;
    margin-top: 25px;
    margin-left: 15px;
}

#hoot-label 
{
    margin-left: 10px;
    font-size: 25px;
    color: #FFFFFF;
    font-family: sans-serif;
    position: absolute;
    top: 5.5%;
    transform: translate(0, -50%);
}

label.logo 
{
    color: white;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul 
{
    float: right;
    margin-right: 20px;
}

nav ul li 
{
    display: inline;
    margin: 0 5px;
}

#center 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}

/* Search Bar */
#search-bar 
{
    margin: auto;
    display: grid;
    place-content: center;
    margin-top: 30px;
}

form 
{
    background-color: transparent;
    border: 2px solid #a37f52;
    width: 600px;
    height: 36px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
}

input 
{
    all: unset;
    font: 16px system-ui;
    color: #000000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder 
{
    color: rgb(45, 43, 43);
    opacity: 0.7; 
}

button 
{
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

svg 
{
    color: rgb(45, 43, 43);
    fill: currentColor;
    width: 41px;
    height: 41px;
    padding: 11px;
}

/* Contact Table */

table
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    font-family: sans-serif;
    overflow: hidden;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    table-layout: fixed;
}

table thead th
{
    font-weight: bold;
    text-align: left;
    background: #a37f52;
    color: #FFFFFF;
}

table td,
table th 
{
    color: #000000;
    padding: 10px 20px;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tbody tr:nth-of-type(even)
{
    background: #FFFFFF;
    background-color: #a37f52; 
}

table tbody tr:last-of-type
{
    /* border-bottom: 2px solid #a37f52; */
}

#table-button
{
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#tableResults 
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    /* margin-left: 5%; */
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: sans-serif;
    color: #95060a;
}